################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Conversor Simple/Conversor Simple/Debug
/Conversor Simple/.vs/Conversor Simple/v14
/Conversor Simple/Debug
/Conversor Simple/ipch/CONVERSOR SIMPLE-24f8c1c7
/Conversor Simple/Conversor Simple.sln
/Conversor Simple/Conversor Simple.VC.VC.opendb
/Conversor Simple/Conversor Simple.VC.db
